# Dependencies
node_modules/

# Build output
dist/

# Env files
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Tests coverage
coverage/

# SQLite databases
*.db
*.db-shm
*.db-wal
